
<% if !logged_in? %>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <% if @waiting_users.size > 0 %>
    <p>Currently <%= pluralize(@waiting_users.size, "person") %> <%= @waiting_users.size == 1 ? 'is' : 'are' %> waiting to play</p>
  <% end %>
<% else
  user = current_user
  label = user.waiting_for_game ? "Remove me from" : "Put me on" %>
  <div class="row" id="add-remove-waitlist">
    <div class="col-md-4">
      <%= form_with(model: user, local: true) do |f| %>
        <%= hidden_field_tag :waiting_for_game, ! user.waiting_for_game %>
        <%= f.submit "#{ label } the waiting list", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div>
    <% if @waiting_users.size == 0 %>
      <div class="row">
        <p>Someone has to be the first to put their name on the waiting list.</p>
      </div>
      <ul class="waitlist hidden list-group col-md-4 border border-primary" ></ul>
    <% else %>
      <div class="row">
        <p class="col-md-4">Current users waiting to start a game. Invite one of them, or add your name</p>
      </div>
      <div class="row">
        <ul class="waitlist list-group col-md-4 border border-primary">
          <% @waiting_users.each do |u| %>
            <li class="list-group-item li-small-image">
              <% if u.image.attached? %><%= image_tag u.display_image %><% end %>
              <% if user.id == u.id %>
                <%= u.username %>
              <% else %>
                <div class="btn-group">
                  <button type="button btn btn-secondary" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <%= u.username %><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Start a Game", invitations_path(from: user.id, to: u.id), method: :post, :remote => true %></li>
                  </ul>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>

