<div>
  <h1><%= ApplicationHelper::APPNAME.capitalize  %></h1><br>
  <h2>
    This be the home page for <%= ApplicationHelper::APPNAME.capitalize  %>
  </h2>
  <%= render 'static_pages/waiting_users' %>
  <%= render 'static_pages/modals_markup' %>
</div>
<%= render 'static_pages/modals_js' %>
