<div>
  <h1><%= ApplicationHelper::APPNAME.capitalize  %></h1><br>
  <h2>
    This be the home page for <%= ApplicationHelper::APPNAME.capitalize  %>
  </h2>
  <% if !logged_in? %>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    <% if @waiting_users.size > 0 %>
      <p>Currently <%= pluralize(@waiting_users.size, "person") %> <%= @waiting_users.size == 1 ? 'is' : 'are' %> waiting to play</p>
    <% end %>
  <% else
    user = current_user
    label = user.waiting_for_game ? "Remove me from" : "Put me on" %>
    <div class="row">
      <div class="col-md-4">
        <%= form_with(model: user, local: true) do |f| %>
          <%= hidden_field_tag :waiting_for_game, ! user.waiting_for_game %>
          <%= f.submit "#{ label } the waiting list", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div>
      <% if @waiting_users.size == 0 %>
        <div class="row">
          <p>Someone has to be the first to put their name on the waiting list.</p>
        </div>
        <ul class="waitlist hidden list-group col-md-4 border border-primary" ></ul>
      <% else %>
        <div class="row">
          <p class="col-md-4">Current users waiting to start a game. Invite one of them, or add your name</p>
        </div>
        <div class="row">
          <ul class="waitlist list-group col-md-4 border border-primary">
            <% @waiting_users.each do |user| %>
              <li class="list-group-item li-small-image"><% if user.image.attached? %><%= image_tag user.display_image %><% end %><%= user.username %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
