<button class="button" type="button" id="shareResults">Copy to Clipboard</button>
<% if !@rendered_copy_to_clipboard
  @rendered_copy_to_clipboard = true
%>
<script>
  const EMOJI_BLACK = String.fromCodePoint(0x25fc);
  const EMOJI_RIGHT_ARROW = String.fromCodePoint(0x2192);
  const EMOJI_YELLOW = String.fromCodePoint(0x1f7e8);
  const EMOJI_GREEN = String.fromCodePoint(0x1f7e9);
  const EMOJI_COLORS = [EMOJI_BLACK, EMOJI_YELLOW, EMOJI_GREEN];

  function fallbackCopyTextToClipboard(text) {
    const textArea = document.createElement("textarea");
    textArea.value = text;

    // Avoid scrolling to bottom
    textArea.style.top = "0";
    textArea.style.left = "0";
    textArea.style.position = "fixed";

    document.body.appendChild(textArea);
    textArea.focus();
    textArea.select();

    try {
      const successful = document.execCommand('copy');
      const msg = successful ? 'successful' : 'unsuccessful';
      console.log('Fallback: Copying text command was ' + msg);
    } catch (err) {
      console.error('Fallback: Oops, unable to copy', err);
    }

    document.body.removeChild(textArea);
  }

  function copyTextToClipboard(text) {
    if (!navigator.clipboard) {
      fallbackCopyTextToClipboard(text);
      return;
    }
    navigator.clipboard.writeText(text).then(function() {
      console.log('navigator.clipboard.writeText worked');
    }, function(err) {
      console.error(`navigator.clipboard.writeText failed: ${ err }`);
      fallbackCopyTextToClipboard(text);
    });
  }
  function getShareText() {
    const scoreLines = [];
    let lineParts = [];
    scoreLines.push(`Results from ${ new Date() }:`);
    scoreLines.push('');
    scoreLines.push('<%= @outcome %>');
    scoreLines.push('');
    <% [ [@game_state, 'Your', @other_state.finalWord],
         [@other_state, 'Their', @game_state.finalWord],
    ].each do | my_state, pronoun, finalWord |
      guesses = my_state.guesses
     %>
      scoreLines.push('<%= pronoun %> word: <%= finalWord  %> ');
      scoreLines.push('');
      scoreLines.push('<%= pronoun %> guesses:');
      <% guesses.each do |guess| %>
        lineParts = [ '<%= guess.word %>' ];
        lineParts.push('...');
        <% guess.score.split(':').map(&:to_i).each_with_index do |score, posn|
           if posn == guess.liePosition %>
             lineParts.push('|');
             lineParts.push(EMOJI_COLORS[<%= score %>]);
             lineParts.push(EMOJI_RIGHT_ARROW);
             lineParts.push(EMOJI_COLORS[<%= guess.lieColor %>]);
             lineParts.push('|');
           <% else %>
             lineParts.push(EMOJI_COLORS[<%= score %>]);
           <% end %>
        <% end %>
      scoreLines.push(lineParts.join(''));
      <% end %>
      scoreLines.push('');
    <% end %>
    scoreLines.push('lirdle42.com - the word game where you get to lie');
    return scoreLines.join('\n');
  }

  $(document).ready(() => {
    const shareResults = document.getElementById('shareResults');
    shareResults.addEventListener('click', (e) => {
      const shareText = getShareText();
      try {
        copyTextToClipboard(shareText);
      } catch (e) {
        console.log(`Trying to share failed: ${err}`);
      }
    });
  });
</script>
<% end %>
