<div class="row">
  <div class="col-xs-12">
    <div class="h1">Sorry, you lost to <%= @other_player.username %></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="h2">Your word was: <b><%= @other_state.finalWord %></b></div>
  </div>
</div>

<%= render 'games/final_guesses' %>
<%= render 'static_pages/modals_markup' %>
<%= render 'static_pages/modals_js' %>
