<div class="row">
  <div class="col-md-6">
    <p>Your word was: <%= @other_state.finalWord %></p>
    <%= render 'games/final_guesses' %>
  </div>
  <div class="col-md-6">
    <p>Their word was: <%= @game_state.finalWord %></p>
    <%
      @game_state, @other_state = [@other_state, @game_state]
      @user, @other_player = [@other_player, @user]
      @yourNameCapitalized = "Their"
    %>
    <%= render 'games/final_guesses' %>
    <%
      # Restore so other functions can access the correct variables.
      @game_state, @other_state = [@other_state, @game_state]
      @user, @other_player = [@other_player, @user]
    %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= render 'games/copy_to_clipboard' %> Duplicate button?
  </div>
</div>
