<%
  # other_player ||= @other_player
  game_state ||= @game_state
  # user ||= @user
  guesses = game_state.guesses
  colors = %w[grey yellow green]
  num_rows = [guesses.size + 1, 6].max
  case num_rows
  when 0...6
    letterBoxSizeClassName = nil
  when 6...13
    letterBoxSizeClassName = "small1"
  when 13...19
    letterBoxSizeClassName = "small2"
  when 19...25
    letterBoxSizeClassName = "small3"
  else
    letterBoxSizeClassName = "small4"
  end
  letterBoxClassListArrayBase = ['letter-box', 'filled-box']
  letterBoxClassListArrayBase << letterBoxSizeClassName if letterBoxSizeClassName
%>
<div class="row">
  <div class="col-md-12">
    <h2>Lirdle42: One Handcrafted Lie Per Line</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="game-board">
      <% (0...guesses.size).to_a.each do |row_num| %>
        <%
          guess = guesses[row_num]
          scores = guess.score.split(':').map(&:to_i)
          liePosition = guess.liePosition
          lieColor = guess.lieColor
        %>
        <div class="letter-row-container">
          <div class="letter-row">
            <% 5.times do |col_num| %>
              <%
                letterIndex = liePosition == col_num ? lieColor : scores[col_num]
                letterColor = colors[letterIndex]
                bgColor = "background-#{ letterColor }"
                letterBoxClassListArray = letterBoxClassListArrayBase + [bgColor]
                letterBoxClassList = letterBoxClassListArray.join(" ")
              %>
              <div class="<%= letterBoxClassList %>"><%= guesses[row_num].word[col_num].downcase %></div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% (guesses.size...num_rows).to_a.each do |row_num| %>
        <div class="letter-row-container">
          <div class="letter-row">
            <% 5.times do  %>
              <div class="letter-box"></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_with(url: guesses_path, scope: :game_state, local: true) do |f| %>
      <%= hidden_field_tag :word, "splibitch" %>
      <%= hidden_field_tag :game_state_id, game_state.id %>
      <%= f.submit "Submit Guess", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div id="keyboard-cont">
  <div id="dupWord" class="wordProblemPrompt hidden"><span>You already tried "</span><span id="dupWordContents"></span><span>"</span></div>
  <div id="fiveGreenFakeOut" class="wordProblemPrompt hidden"><span>Congratulations on getting a Fake Out! You're close but that's not the right word.</span><br /></div>
  <div class="first-row">
    <button class="keyboard-button" type="button">q</button>
    <button class="keyboard-button" type="button">w</button>
    <button class="keyboard-button" type="button">e</button>
    <button class="keyboard-button" type="button">r</button>
    <button class="keyboard-button" type="button">t</button>
    <button class="keyboard-button" type="button">y</button>
    <button class="keyboard-button" type="button">u</button>
    <button class="keyboard-button" type="button">i</button>
    <button class="keyboard-button" type="button">o</button>
    <button class="keyboard-button" type="button">p</button>
  </div>
  <div class="second-row">
    <button class="keyboard-button" type="button">a</button>
    <button class="keyboard-button" type="button">s</button>
    <button class="keyboard-button" type="button">d</button>
    <button class="keyboard-button" type="button">f</button>
    <button class="keyboard-button" type="button">g</button>
    <button class="keyboard-button" type="button">h</button>
    <button class="keyboard-button" type="button">j</button>
    <button class="keyboard-button" type="button">k</button>
    <button class="keyboard-button" type="button">l</button>
  </div>
  <div class="third-row">
    <button class="keyboard-button" type="button">Del</button>
    <button class="keyboard-button" type="button">z</button>
    <button class="keyboard-button" type="button">x</button>
    <button class="keyboard-button" type="button">c</button>
    <button class="keyboard-button" type="button">v</button>
    <button class="keyboard-button" type="button">b</button>
    <button class="keyboard-button" type="button">n</button>
    <button class="keyboard-button" type="button">m</button>
    <button class="keyboard-button" type="button">Enter</button>
  </div>
</div>